# Core functionality - changes here should be rare!
/src/app.py                   @GUORUI-929
/src/backend/database.py      @GUORUI-929
/src/backend/routers/auth.py  @GUORUI-929

# The frontend will need refactored soon to be more object oriented.
/src/static/   @GUORUI-929
